<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Codilar_ProductLabel::ProductLabel"
             title="Label"
             module="Codilar_ProductLabel"
             sortOrder="60"
             resource="Codilar_ProductLabel::ProductLabel"/>

        <add id="Codilar_ProductLabel::ProductLabel_manage"
             title="Manage Product Label"
             module="Codilar_ProductLabel"
             parent="Codilar_ProductLabel::ProductLabel"
             action="productlabel/product/index"
             sortOrder="10"
             resource="Codilar_ProductLabel::ProductLabel_manage"/>
    </menu>
</config>